* {
    /* box-sizing: border-box; */
    margin: 5px;
    padding: 2px;
    background-color:#D3AB9E;
}

#newbackground{
    background-color:#D3AB9E;
}

.background{
    position: relative;
    /* background-color:#4A2545; */
}

.mainheader {
    text-align: center;
    padding: 40px;
    background: #EBD8D0;
    color: rgb(0, 0, 0);
}
/* NAV BAR */

nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-width: 400px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
/* END NAV BAR */

/* BIG PICTURE */
.imgback{
    height: 400px;
    width: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1604762511431-6280a12cb835?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80");
}
/* END BIG PICTURE */

/* CAPTION ON BIG PIC */
.imgback p{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #90AA86;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
/* END CAPTION ON BIG PIC */

.content{
    text-align: inherit;
}

/* ABOUT ME, WORK, CONTACT ME COLUMN */
.row {
    display: flex;
    margin-top: 30px;
    margin-left: 200px;
}

.row-title {
    margin-right: 60px;
   
    padding-right: 40px;
}
/* END ABOUT ME, WORK, CONTACT ME COLUMN */

/* PICTURES OF WORK */
.imgsize {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.imgsize img{
    height: 390px;
    width: 390px;
    border: 5px solid #EAC9C1;
    filter: brightness(50%);
    margin: 5px;
}
/*END PICTURES OF WORK */

.imgsize img:hover {
    filter: brightness(100%);
}

.big {
    width: 800px;
    height: 350px;
    margin: 5px;
    border: 5px solid #EAC9C1;
    filter: brightness(50%);
}
.big:hover {
    filter: brightness(100%);
}
#work{
    display: flex;
    
}
/*END PICTURES OF WORK */

/* CONTACT SECTION */
#contactsection {
    display: flex;
    margin-left: 70px;
}

.phonenumber {
    display: flex;
}


ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

ul li{
    color: black;
    font-weight: bold;
   
}
/* END CONTACT SECTION */